-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: parce
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_access_requests`
--

DROP TABLE IF EXISTS `admin_access_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_access_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `requested_role_id` int(10) unsigned NOT NULL,
  `justification` text NOT NULL,
  `status` enum('pending','approved','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `reviewed_by` bigint(20) unsigned DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `review_notes` text DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_requested_role_id` (`requested_role_id`),
  KEY `idx_status` (`status`),
  KEY `idx_reviewed_by` (`reviewed_by`),
  KEY `idx_approved_by` (`approved_by`),
  KEY `idx_reviewed_at` (`reviewed_at`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_status_created` (`status`,`created_at`),
  KEY `idx_status_reviewed_approved` (`status`,`reviewed_at`,`approved_at`),
  CONSTRAINT `admin_access_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `admin_access_requests_ibfk_2` FOREIGN KEY (`requested_role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `admin_access_requests_ibfk_3` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `admin_access_requests_ibfk_4` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_approval_consistency` CHECK (`status` = 'approved' and `approved_by` is not null and `approved_at` is not null or `status` <> 'approved'),
  CONSTRAINT `chk_rejection_reason` CHECK (`status` = 'rejected' and `rejection_reason` is not null or `status` <> 'rejected')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_access_requests`
--

LOCK TABLES `admin_access_requests` WRITE;
/*!40000 ALTER TABLE `admin_access_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_access_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_migration` (`migration`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pqr`
--

DROP TABLE IF EXISTS `pqr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pqr` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `ticket_code` varchar(20) NOT NULL,
  `type` enum('peticion','queja','reclamo','sugerencia') NOT NULL,
  `subject` varchar(150) NOT NULL,
  `description` text NOT NULL,
  `status` enum('pending','in_review','resolved','rejected') NOT NULL DEFAULT 'pending',
  `admin_response` text DEFAULT NULL,
  `responded_by` bigint(20) unsigned DEFAULT NULL,
  `responded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_code` (`ticket_code`),
  KEY `fk_pqr_responded_by` (`responded_by`),
  KEY `idx_pqr_user_id` (`user_id`),
  KEY `idx_pqr_status` (`status`),
  KEY `idx_pqr_type` (`type`),
  KEY `idx_pqr_created_at` (`created_at`),
  KEY `idx_pqr_deleted_at` (`deleted_at`),
  CONSTRAINT `fk_pqr_responded_by` FOREIGN KEY (`responded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_pqr_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pqr`
--

LOCK TABLES `pqr` WRITE;
/*!40000 ALTER TABLE `pqr` DISABLE KEYS */;
INSERT INTO `pqr` VALUES (1,1,'PQR-2026-000001','peticion','Solicitud de factura del servicio','Quisiera recibir la factura electr├│nica de mi ├║ltimo servicio (dato de demostraci├│n).','pending',NULL,NULL,NULL,'2026-08-05 19:47:54','2026-08-05 19:47:54',NULL);
/*!40000 ALTER TABLE `pqr` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `is_system_role` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_name` (`name`),
  KEY `idx_slug` (`slug`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_is_system_role` (`is_system_role`),
  KEY `idx_active_system` (`is_active`,`is_system_role`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_request_evidences`
--

DROP TABLE IF EXISTS `service_request_evidences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_request_evidences` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `service_request_id` bigint(20) unsigned NOT NULL,
  `uploaded_by` bigint(20) unsigned NOT NULL,
  `evidence_type` enum('before','during','after') NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `original_filename` varchar(255) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `file_size` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_service_request_id` (`service_request_id`),
  KEY `fk_evidence_user` (`uploaded_by`),
  CONSTRAINT `fk_evidence_service_request` FOREIGN KEY (`service_request_id`) REFERENCES `service_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_evidence_user` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_request_evidences`
--

LOCK TABLES `service_request_evidences` WRITE;
/*!40000 ALTER TABLE `service_request_evidences` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_request_evidences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_requests`
--

DROP TABLE IF EXISTS `service_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `service_code` varchar(20) NOT NULL COMMENT 'Public tracking code (e.g., SR-2024-001234)',
  `customer_id` bigint(20) unsigned NOT NULL COMMENT 'Customer who created the request',
  `vehicle_id` bigint(20) unsigned NOT NULL COMMENT 'Vehicle needing service',
  `mechanic_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Assigned mechanic (null until assigned)',
  `resolved_by` bigint(20) unsigned DEFAULT NULL COMMENT 'Mechanic who completed the service',
  `emergency_type` varchar(50) NOT NULL COMMENT 'tire, battery, fuel, lockout, tow, engine, other',
  `description` text NOT NULL COMMENT 'Customer description of the problem',
  `priority` varchar(20) NOT NULL DEFAULT 'normal' COMMENT 'normal, urgent, critical',
  `latitude` decimal(10,8) NOT NULL COMMENT 'Latitude where help is needed',
  `longitude` decimal(11,8) NOT NULL COMMENT 'Longitude where help is needed',
  `status` varchar(20) NOT NULL DEFAULT 'pending' COMMENT 'pending, assigned, in_progress, completed, cancelled, expired',
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'When request was created',
  `assigned_at` timestamp NULL DEFAULT NULL COMMENT 'When mechanic was assigned',
  `started_at` timestamp NULL DEFAULT NULL COMMENT 'When mechanic started work',
  `completed_at` timestamp NULL DEFAULT NULL COMMENT 'When service was completed',
  `cancelled_at` timestamp NULL DEFAULT NULL COMMENT 'When request was cancelled',
  `expired_at` timestamp NULL DEFAULT NULL COMMENT 'When request expired',
  `cancellation_reason` text DEFAULT NULL COMMENT 'Why the request was cancelled',
  `cancelled_by` bigint(20) unsigned DEFAULT NULL COMMENT 'User who cancelled (customer or admin)',
  `estimated_cost` decimal(10,2) DEFAULT NULL COMMENT 'Mechanic estimated cost',
  `final_cost` decimal(10,2) DEFAULT NULL COMMENT 'Actual final cost',
  `customer_rating` tinyint(3) unsigned DEFAULT NULL COMMENT 'Customer rating 1-5',
  `customer_feedback` text DEFAULT NULL COMMENT 'Customer review',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL COMMENT 'Soft delete (admin only)',
  `punctuality_rating` tinyint(3) unsigned DEFAULT NULL COMMENT 'Punctuality rating 1-5',
  `service_quality_rating` tinyint(3) unsigned DEFAULT NULL COMMENT 'Service quality rating 1-5',
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_code` (`service_code`),
  KEY `fk_service_requests_resolved_by` (`resolved_by`),
  KEY `fk_service_requests_cancelled_by` (`cancelled_by`),
  KEY `idx_service_requests_service_code` (`service_code`),
  KEY `idx_service_requests_customer_id` (`customer_id`),
  KEY `idx_service_requests_vehicle_id` (`vehicle_id`),
  KEY `idx_service_requests_mechanic_id` (`mechanic_id`),
  KEY `idx_service_requests_status` (`status`),
  KEY `idx_service_requests_emergency_type` (`emergency_type`),
  KEY `idx_service_requests_priority` (`priority`),
  KEY `idx_service_requests_requested_at` (`requested_at`),
  KEY `idx_service_requests_deleted_at` (`deleted_at`),
  KEY `idx_service_requests_customer_status` (`customer_id`,`status`),
  KEY `idx_service_requests_mechanic_status` (`mechanic_id`,`status`),
  KEY `idx_service_requests_status_requested` (`status`,`requested_at`),
  KEY `idx_service_requests_status_priority` (`status`,`priority`,`requested_at`),
  KEY `idx_service_requests_location` (`latitude`,`longitude`),
  CONSTRAINT `fk_service_requests_cancelled_by` FOREIGN KEY (`cancelled_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_service_requests_customer_id` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_service_requests_mechanic_id` FOREIGN KEY (`mechanic_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_service_requests_resolved_by` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_service_requests_vehicle_id` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`),
  CONSTRAINT `chk_punctuality_rating` CHECK (`punctuality_rating` is null or `punctuality_rating` >= 1 and `punctuality_rating` <= 5),
  CONSTRAINT `chk_service_quality_rating` CHECK (`service_quality_rating` is null or `service_quality_rating` >= 1 and `service_quality_rating` <= 5)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_requests`
--

LOCK TABLES `service_requests` WRITE;
/*!40000 ALTER TABLE `service_requests` DISABLE KEYS */;
INSERT INTO `service_requests` VALUES (1,'SR-2026-000001',1,1,2,2,'battery','Bater├¡a descargada en zona norte de Bogot├í (dato de demostraci├│n).','normal',4.71100000,-74.07210000,'completed','2026-08-06 00:47:54','2026-08-06 00:47:54','2026-08-06 00:47:54','2026-08-06 00:47:54',NULL,NULL,NULL,NULL,80000.00,75000.00,5,'Excelente atenci├│n, muy puntual y profesional (dato de demostraci├│n).','2026-08-06 00:47:54','2026-08-05 19:47:54',NULL,5,5);
/*!40000 ALTER TABLE `service_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_last_activity` (`last_activity`),
  CONSTRAINT `sessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surveys`
--

DROP TABLE IF EXISTS `surveys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surveys` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `service_request_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned NOT NULL,
  `overall_satisfaction` tinyint(3) unsigned NOT NULL,
  `would_recommend` tinyint(1) NOT NULL,
  `comments` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_request_id` (`service_request_id`),
  KEY `idx_surveys_customer_id` (`customer_id`),
  KEY `idx_surveys_created_at` (`created_at`),
  CONSTRAINT `fk_surveys_customer_id` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_surveys_service_request_id` FOREIGN KEY (`service_request_id`) REFERENCES `service_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_overall_satisfaction` CHECK (`overall_satisfaction` between 1 and 5)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surveys`
--

LOCK TABLES `surveys` WRITE;
/*!40000 ALTER TABLE `surveys` DISABLE KEYS */;
INSERT INTO `surveys` VALUES (1,1,1,5,1,'Muy buena experiencia con el mec├ínico asignado (dato de demostraci├│n).','2026-08-05 19:47:54','2026-08-05 19:47:54',NULL);
/*!40000 ALTER TABLE `surveys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `role_id` int(10) unsigned NOT NULL,
  `assigned_by` bigint(20) unsigned DEFAULT NULL,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_role` (`user_id`,`role_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_role_id` (`role_id`),
  KEY `idx_assigned_by` (`assigned_by`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_expires_at` (`expires_at`),
  KEY `idx_assigned_at` (`assigned_at`),
  KEY `idx_user_role_active_expires` (`user_id`,`role_id`,`is_active`,`expires_at`),
  KEY `idx_expires_active` (`expires_at`,`is_active`),
  CONSTRAINT `user_roles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_3` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_expires_future` CHECK (`expires_at` is null or `expires_at` > `assigned_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,1,1,NULL,'2026-08-06 00:47:54',NULL,1,'2026-08-05 19:47:54','2026-08-05 19:47:54'),(2,2,2,NULL,'2026-08-06 00:47:54',NULL,1,'2026-08-05 19:47:54','2026-08-05 19:47:54'),(3,3,3,NULL,'2026-08-06 00:47:54',NULL,1,'2026-08-05 19:47:54','2026-08-05 19:47:54'),(4,4,1,NULL,'2026-08-06 00:59:50',NULL,1,'2026-08-05 19:59:50','2026-08-05 19:59:50'),(5,5,1,NULL,'2026-08-06 01:04:50',NULL,1,'2026-08-05 20:04:50','2026-08-05 20:04:50'),(6,6,1,NULL,'2026-08-06 01:19:33',NULL,1,'2026-08-05 20:19:33','2026-08-05 20:19:33');
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `profile_picture_url` varchar(500) DEFAULT NULL,
  `account_status` enum('active','suspended','deactivated','pending_verification') NOT NULL DEFAULT 'active' COMMENT 'MVP: Users active by default. Email verification planned for production.',
  `email_verification_status` enum('unverified','verified') NOT NULL DEFAULT 'unverified',
  `phone_verification_status` enum('unverified','verified') NOT NULL DEFAULT 'unverified',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `phone_verified_at` timestamp NULL DEFAULT NULL,
  `last_login_at` timestamp NULL DEFAULT NULL,
  `last_login_ip` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `driver_license_number` varchar(50) DEFAULT NULL,
  `driver_license_expiration_date` date DEFAULT NULL,
  `driver_license_document_url` varchar(500) DEFAULT NULL,
  `driver_license_status` enum('not_set','valid','expiring_soon','expired') NOT NULL DEFAULT 'not_set',
  `driver_license_uploaded_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_account_status` (`account_status`),
  KEY `idx_email_verification_status` (`email_verification_status`),
  KEY `idx_phone_verification_status` (`phone_verification_status`),
  KEY `idx_last_login_at` (`last_login_at`),
  KEY `idx_deleted_at` (`deleted_at`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_account_email_status` (`account_status`,`email_verification_status`),
  KEY `idx_last_login_account` (`last_login_at`,`account_status`),
  CONSTRAINT `chk_email_verification` CHECK (`email_verification_status` = 'verified' and `email_verified_at` is not null or `email_verification_status` = 'unverified'),
  CONSTRAINT `chk_phone_verification` CHECK (`phone_verification_status` = 'verified' and `phone_verified_at` is not null or `phone_verification_status` = 'unverified')
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL COMMENT 'Owner of the vehicle',
  `license_plate` varchar(20) NOT NULL COMMENT 'Normalized license plate (uppercase, trimmed)',
  `make` varchar(50) NOT NULL COMMENT 'Vehicle manufacturer',
  `model` varchar(50) NOT NULL COMMENT 'Vehicle model',
  `year` smallint(5) unsigned NOT NULL COMMENT 'Manufacturing year',
  `color` varchar(30) DEFAULT NULL COMMENT 'Vehicle color',
  `vin` varchar(17) DEFAULT NULL COMMENT 'Vehicle Identification Number (17 chars)',
  `vehicle_type` varchar(20) NOT NULL DEFAULT 'sedan' COMMENT 'sedan, suv, truck, motorcycle, van, other',
  `fuel_type` varchar(20) NOT NULL DEFAULT 'gasoline' COMMENT 'gasoline, diesel, electric, hybrid, other',
  `nickname` varchar(50) DEFAULT NULL COMMENT 'User-friendly name for the vehicle',
  `primary_photo_url` varchar(255) DEFAULT NULL COMMENT 'URL to primary vehicle photo',
  `is_primary` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Is this the user primary vehicle?',
  `status` varchar(20) NOT NULL DEFAULT 'active' COMMENT 'active or inactive',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL COMMENT 'Soft delete timestamp',
  `soat_number` varchar(50) DEFAULT NULL COMMENT 'SOAT policy number',
  `soat_expiration_date` date DEFAULT NULL COMMENT 'SOAT expiration date',
  `soat_document_url` varchar(500) DEFAULT NULL COMMENT 'URL to uploaded SOAT document',
  `soat_uploaded_at` timestamp NULL DEFAULT NULL COMMENT 'When the SOAT document was uploaded',
  `tecnomecanica_number` varchar(50) DEFAULT NULL COMMENT 'Tecnomec├ínica certificate number',
  `tecnomecanica_expiration_date` date DEFAULT NULL COMMENT 'Tecnomec├ínica expiration date',
  `tecnomecanica_document_url` varchar(500) DEFAULT NULL COMMENT 'URL to uploaded Tecnomec├ínica document',
  `tecnomecanica_uploaded_at` timestamp NULL DEFAULT NULL COMMENT 'When the Tecnomec├ínica document was uploaded',
  PRIMARY KEY (`id`),
  KEY `idx_vehicles_user_id` (`user_id`),
  KEY `idx_vehicles_license_plate` (`license_plate`),
  KEY `idx_vehicles_status` (`status`),
  KEY `idx_vehicles_deleted_at` (`deleted_at`),
  KEY `idx_vehicles_is_primary` (`is_primary`),
  KEY `idx_vehicles_created_at` (`created_at`),
  KEY `idx_vehicles_user_status` (`user_id`,`status`),
  KEY `idx_vehicles_user_deleted` (`user_id`,`deleted_at`),
  KEY `idx_vehicles_vin` (`vin`),
  CONSTRAINT `fk_vehicles_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES (1,1,'DEM001','Chevrolet','Spark GT',2020,'Blanco',NULL,'sedan','gasoline','Veh├¡culo Demo',NULL,1,'active','2026-08-05 19:47:54','2026-08-05 19:47:54',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(2,6,'ABC-123','Chevrolet','Spark',2020,'Gris',NULL,'car','gasoline',NULL,NULL,1,'active','2026-08-05 20:45:08','2026-08-05 20:45:08',NULL,'SOAT-2024-123456',NULL,NULL,'2026-08-05 20:45:08','TM-2024-789012',NULL,NULL,'2026-08-05 20:45:08');
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-05 17:52:22
