# Environment
.env

# Composer
/vendor/
composer.lock

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
/storage/logs/*.log

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

# Sessions
/storage/sessions/*
!/storage/sessions/.gitkeep
